[submodule "p5_TravelingSalesperson"]
	path = p5_TravelingSalesperson
	url = https://github.com/XyronLabs/p5_TravelingSalesperson.git
[submodule "p5_clone.io"]
	path = p5_clone.io
	url = https://github.com/XyronLabs/p5_clone.io.git
[submodule "p5_GameOfLife"]
	path = p5_GameOfLife
	url = https://github.com/XyronLabs/p5_GameOfLife.git
[submodule "p5_SuperHexaClone"]
	path = p5_SuperHexaClone
	url = https://github.com/XyronLabs/p5_SuperHexaClone.git
